//device width
$mobile: 767px;
$desctop: 1920px;

//fonts
$MyriadProLightSemiExtended: "Myriad Pro Light SemiExtended", "Arial", sans-serif;
$MyriadProSemibold: "Myriad Pro Semibold", "Arial", sans-serif;
$HelveticaNeue: "Helvetica Neue", "Arial, sans-serif";
$SFUIDisplay: "SFUIDisplay", "Arial", sans-serif;